<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ExpenseTracker"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddExpenseActivity"
            android:exported="false"
            android:label="@string/add_expense" />

        <activity
            android:name=".StatisticsActivity"
            android:exported="false"
            android:label="@string/statistics" />

        <activity
            android:name=".BudgetActivity"
            android:exported="false"
            android:label="@string/set_budget" />

    </application>

</manifest>
